{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_preloader.html'%}
{% include 'partials/_buscar.html' %}
{% include 'partials/_header.html' %}
<div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Criar conta</h2>
                </div>
            </div>
        </div>
        {% include 'partials/_alertas.html' %}
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="contact-form-area">
                    <form action="{% url 'confirma_cadastro' %}" method="POST">
                        {% csrf_token %}

                        {% for field in form_aluno %}
                        <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        </div>
                            {% for error in field.errors %}
                                <section class="alert alert-danger">
                                {{ field.errors }}
                                </section>
                            {% endfor %}
                        {% endfor %}

                        {% for field in form_user %}
                            <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            </div>
                            {% for error in field.errors %}
                                <section class="alert alert-danger">
                                {{ field.errors }}
                                </section>
                            {% endfor %}
                        {% endfor %}

                        <input type="submit" value="Cadastrar" class="btn btn-success"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/_footer.html' %}
{% endblock %}